<!DOCTYPE html>
<html lang="en">
<head>
  <title>FP</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.1.0/css/flag-icons.min.css"/>
  <%-
        '<style>'
        + include(`./../public/bootstrap.min.css`)
        + include(`./../public/my-style.css`)
        + '</style>'
  %>
</head>
<body data-bs-theme="dark">
<div id="parent-container" class="">
  <div class="container-fluid pt-3 border border-white border-bottom-0 rounded">
    <div id="header">
      <div id="flex-item-left">
        <img src="https://fp-results-bot.netlify.app/.netlify/images?url=/functions/public/logoUKR.png&fm=png" alt="Logo"/>
        <h2 id="session-name"><%= sessionNameUKR %></h2>
      </div>
      <div id="flex-item-right">
        <span id="sciah" class="fi fi-<%= grandPrixFlag %>"></span>
        <h5 id="gp-name"><%= grandPrixNameUKR %></h5>
      </div>
    </div>

    <table class="table caption-top table-dark  table-striped rounded-left table-sm">
      <thead class="fs-5">
        <tr>        
          <th scope="col" class="col-1 text-center text-body-secondary"></th>
          <th scope="col" class="col-5 text-body-secondary">Гонщик</th>
          <th scope="col" class="col-3 text-center text-body-secondary">Відрив</th>
          <th scope="col" class="col-2 text-center text-body-secondary">До наступного</th>
          <th scope="col" class="col-1 text-center text-body-secondary">Очки</th>
        </tr>
      </thead>
      <tbody class="table-group-divider fs-4">
          <% for(var i = 0; i < drivers.length; i++) { %>
            <tr>
              <td class="text-center number-font"><%= (i + 1) %></td>
              <td class="driver-name">
                <img src="https://fp-results-bot.netlify.app/.netlify/images?url=/functions/public/teams-2024/<%= drivers[i].teamId %>.png&fm=png&q=100" alt="T">
                <span class="big-text"><%= drivers[i].nameUKR %></span>
              </td>
              <td class="text-center number-font"><%= drivers[i].gapToLeaderUKR %></td>
              <td class="text-center number-font"><%= drivers[i].timeToDriverAhead %></td>
              <td class="text-center number-font <%= drivers[i].fastClass %>"><%= drivers[i].points %></td>
            </tr>
          <% } %>
      </tbody>
    </table>
    </div>
    <!--<div class="container-fluid">-->
    <!--  <h4 class="text-center">-->
    <!--    <span class="text-body-secondary">Formuła Pieramohi   </span><i class="fa fa-telegram"></i>-->
    <!--    <span class="text-body-secondary"> t.me/<b>formula_pieramohi</b></span>-->
    <!--  </h4>-->
    <!--</div>-->
  </div>
</body>
</html>
